.form-input-group {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-size: 16px;
    gap:5px;
    align-items: flex-start;
    position: relative;
}

.sub-label {
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 10px;
    color: orange;
    font-weight: bold;
    text-decoration: none;
    /* align-self: flex-end; */
}

input {
    border: 1px solid lightgrey;
    padding: 8px;
    font-size: 16px;
    outline-color: lightblue;
    border-radius: 5px;
    width: 300px;
    color: #5a5e5d;
    /* background-color:#f2f5f4; */
    /* max-width: 100%; */
}

input:focus {
    background-color: #f5f7fa;
}

input:disabled {
    opacity: 0.2;
    background-color: #b1b3b2;
    color: black;
    /* pointer-events: none; */
}

input::placeholder { 
    font-size: 12px;
    color: #ccc;
}

.validation {
    font-size: 11px;
    color: red;
}